<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            label="Full Path IProject Decorator"
            state="true"
            id="com.droy.PEDecorator.decorator"
            objectClass="org.eclipse.core.resources.IProject"
            class="com.droy.pedecorator.ProjectDecorator">
      </decorator>
   </extension>

</plugin>
